.bar {
  padding: 1px;
  min-width: 45px;
}

* {
  transition: all .2s ease-in-out;
  font-family: "NotoSans Nerd Font";
  /* min-width: 10px; */
}

.bar {
  border: solid;
  border-radius: 10px;
  border-color: #57b1de; 
  border-width: 3px;
  background-color: #181926;
}

.bar-right {
  margin: 5px 0px;
}

.workspaceLabel.active {
  border-color: white;
  min-height: 90px;
}

.workspaceLabel {
   min-height: 15px;
   min-width: 15px;
   font-size: 0px;
   border-radius: 30px;
   border-width: 2.5px;
   border-color: gray;
   border-style: solid;
}

.arch-logo,
.workspaces,
.now-playing,
.date,
.tray-icons-box,
.update-icon,
.audio,
.network,
.battery-box {
  margin: 5px 0px;
}

.arch-logo {
  font-size: 25px;
  color: #57b1de;
}

.date {
  background: #51576d;
  padding: 5px;
  border-radius: 5px;
}

.date-minute {
  font-size: 14px;
  font-weight: bold;
}

.date-hour {
  font-size: 17px;
  font-weight: bold;
}

.battery-label,
.audioLabel {
  font-size: 10px;
  font-weight: bold;
}

separator {
  background: gray;
  min-height: 1px;
}
